<h2>Login</h2>

<form method="POST" action="/session">
	<input type="hidden" name="redir" value='<%= redir%>'>
	<div>
		<label for="login">Login:</label>
		<br/>
		<input type="text" id="login" name="login" size="30" placeholder="Login"/>
	</div>

	<div>
		<label for="password">Password:</label>
		<br/>
		<input type="password" id="password" name="password" placeholder="Password" size="30"/>
	</div>

	<div>
		<input type="submit" value="Login" name="commit"/>
	</div>
</form>