body{
	background: #333;
	font-size: xx-large;
}
#page:after{
	content: "Smartphone Layout";
}
.no-narrow{
	display: none;
}
.video iframe{
	width: 100%;
	
}
img{
	width: 340px;

}

footer, input{
	font-size:large;
}