<h3><%= search %>.</h3>
<table>
	<% for(var i in quizzes){ %>
		<tr>
			<td>
				<a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
			</td>
			<td>
				<a href="/quizzes/<%= quizzes[i].id %>/edit"><button>Editar</button></a>
			</td>
		</tr>
	<%}%>
</table>

<a href="/quizzes/new"><button type="button">Crear pregunta</button></a>